# Releases
{{ range .PullRequests }}
    {{- if ne .User.LoginName "dependabot[bot]" }}
        {{- printf "- [ ] [%s] #%d @%s" (.MergedAt.Format "2006-01-02") .Number .User.LoginName}}
    {{- end }}
{{ end }}

# Dependabot
{{ range .PullRequests }}
    {{- if eq .User.LoginName "dependabot[bot]" }}
        {{- printf "- [ ] #%d @%s" .Number .User.LoginName}}
    {{- end }}
{{ end }}
