name: Test

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Get dependencies
        run: |
          go install gotest.tools/gotestsum@latest
          go get -v -t -d ./...

      - name: Test code
        run: gotestsum --junitfile unit-tests.xml -- -v -race ./...
